body{
    font-family: "Inter", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #112240;
    color: #a8b2d1;
}

.container{
    padding: 100px;
    padding-top: 0;
}

nav{
    text-align: center;
    height: 100px;
    padding-top: 35px;
    border-bottom: 2px solid #64ffda;
    margin-bottom: 40px;
}

nav img{
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.intro, .city{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
    gap: 20px
}

h5{
    font-size: 2rem;
    color: #ccd6f6;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ccd6f6;
}

span{
    font-family: 'Space Mono';
    color: #64ffda;
}

.city{
    font-size: medium;
}

.intro img, .city img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.intro h1{
    font-size: 5rem;
    letter-spacing: 1.5px;
    color: #ccd6f6;
}

table{
    border-collapse: collapse;
    border: 2px solid #64ffda;
    width: 80%;
}

th, td{
    border: 2px solid #64ffda;
    padding: 10px;
    font-size: medium;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.history, .history-child{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 40px;
    font-size: small;
    margin-left: -60px;
}

.child{
    width: 100%;
}

.child img{
    float: right;
    width: 65%;
    height: max-content;
    padding: 8px;
}

.child p{
    text-align: justify;
}



@media only screen and (max-width: 768px) {
    .intro, .city, .history{
      display: block;
      text-align: center;
      font-size: medium;
    }

    .container{
        padding: 40px;
    }

    .history{
        margin: auto 0;
        width: 100%;
    }

    img{
        width: 90%;
    }

    .history img{
        float: none;
        width: 80%;
        height: 300px;
        margin-top: 20px;
    }
  }

  @media only screen and (max-width: 1020px){

    .history{
        display: block;
        text-align: center;
        font-size: large;
    }

    img{
        width: 80%;
    }

    .history img{
        float: none;
        width: 80%;
        height: 300px;
        margin-top: 20px;
    }
  }

